<div id="top">
<h1><%=h @rsvp.event.name %></h1>
<table><tr valign="top"><td>
<div id="eventdetails" class="padding" ><%= @rsvp.event.description.gsub(/(\r\n)+/, "<br/><br/>")
                                          %>
</div>
</td><td>
<div id="address" class="padding">
<b>Event Location</b><br/>
<%= address(@rsvp.event.location) %>
</div>
<div id="map"></div>
Click the Map to Get Directions
</td></tr></table>
</div>

<div id="status">
<h1>Your Status</h1>
<div id="yours" class="padding">
<% form_tag url_for(:action => "update") do %>
<%= hidden_field("rsvp", "id") %>
<%= hidden_field("rsvp", "key") %>
<table>
<tr><th>Your Name</th><td>
    <%= text_field("person", "name") %>
</td></tr>
<tr><th>Your Email</th><td>
    <%= text_field("person", "email") %>
</td></tr>
<tr><th>Will attend?</th>
<td><%= select( "rsvp", "state", Rsvp.states ) %>

</td></tr>
<tr><th>Number Attending</th><td>
    <%= text_field("rsvp", "num") %>
</td></tr>
<tr><td colspan=2><%= text_area("rsvp", "response", :size => "60x10") %></td></tr>
<tr><td colspan=2><%= submit_tag "Update Your Status" %></td></tr>
</table>
<% end %>
</div>
</div>

<div id="attending">
<h1>Who's coming?</h1>
<table width="100%">
<tr><th width="300">Name</th><th width="100">Number</th><th>Message</th></tr>
<tr><td class="attend_yes" colspan=3>Will Attend - <%= yes_number %></th></tr>
<% yes_list.each do |r| %>
<%= format_invitee(r) %>
<% end %>

<tr><td class="attend_maybe" colspan=3>May Attend - <%= maybe_number %></th></tr>

<% maybe_list.each do |r| %>
<%= format_invitee(r) %>
<% end %>

<tr><td class="attend_no" colspan=3>Won't Attend - <%= no_number %></th></tr>
<% no_list.each do |r| %>
<%= format_invitee(r) %>
<% end %>

<tr><td class="attend_na" colspan=3>Haven't Responded - <%= na_number %></th></tr>
<% na_list.each do |r| %>
<%= format_invitee(r) %>
<% end %>
</table>
</div>


