<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Seed</th>
    <th>Date</th>
    <th>Start</th>
    <th>Location</th>
  </tr>

<% for event in @events %>
  <tr>
    <td><%=h event.name %></td>
    <td><%=h event.description %></td>
    <td><%=h event.seed %></td>
    <td><%=h event.date %></td>
    <td><%=h event.start %></td>
    <td><%=h event.location_id %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
<%= link_to 'New location', new_location_path %>
