<h1><%=h @event.name %></h1>
<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Date:</b>
  <%=h @event.date %>
</p>

<p>
  <b>Start:</b>
  <%=h @event.start %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location_id %>
</p>

<h2>Current Invities</h2>
<table cellpadding="2" width="100%">
<tr><th width="200">Name</th><th width="200">Last Visited</th><th width="50">Number</th><th>Message</th></tr>
<tr><td class="attend_yes" colspan=4>Will Attend - <%= yes_number %></th></tr>
<% yes_list.each do |r| %>
<%= format_invitee_admin(r) %>
<% end %>

<tr><td class="attend_maybe" colspan=4>May Attend - <%= maybe_number %></th></tr>

<% maybe_list.each do |r| %>
<%= format_invitee_admin(r) %>
<% end %>

<tr><td class="attend_no" colspan=4>Won't Attend - <%= no_number %></th></tr>
<% no_list.each do |r| %>
<%= format_invitee_admin(r) %>
<% end %>

<tr><td class="attend_na" colspan=4>Haven't Responded - <%= na_number %></th></tr>
<% na_list.each do |r| %>
<%= format_invitee_admin(r) %>
<% end %>
</table>

<p>
  <% form_tag 'newinvitees' do %>
  <%= hidden_field_tag 'id', @event.id %>
  <%= text_area_tag 'list', nil, :size => "60x15" %>
  <br/>
  <%= submit_tag "Add Invitees" %>
  <% end %>
  

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
