<div id="top">
<h1><%=h @event.name %></h1>
<div class="padding">
<table><tr valign="top"><td>
<tr valign="top">
  <th>Description:</th>
  <td><%= @event.description.gsub(/(\r\n)+/, "<br/><br/>") %></td>
</tr>
<tr valign="top" >
  <th>Date:</th>
  <td><%=h @event.date %></td>
</tr>
<tr valign="top">
  <th>Start:</th>
  <td><%=h @event.start %></td>
</tr>
<tr valign="top">
  <th>Location:</th>
  <td><%= address(@event.location) %></td>
</tr>
</table>
</div>
</div>

<div id="status">

<h2>Current Invities</h2>

<table width="100%">
<tr><th width="200">Name</th><th width="200">Last Visited</th><th width="50">Number</th><th>Message</th></tr>
<tr><td class="attend_yes" colspan=4>Will Attend - <%= yes_number %></th></tr>
<% yes_list.each do |r| %>
<%= format_invitee_admin(r) %>
<% end %>

<tr><td class="attend_maybe" colspan=4>May Attend - <%= maybe_number %></th></tr>

<% maybe_list.each do |r| %>
<%= format_invitee_admin(r) %>
<% end %>

<tr><td class="attend_no" colspan=4>Won't Attend - <%= no_number %></th></tr>
<% no_list.each do |r| %>
<%= format_invitee_admin(r) %>
<% end %>

<tr><td class="attend_na" colspan=4>Haven't Responded - <%= na_number %></th></tr>
<% na_list.each do |r| %>
<%= format_invitee_admin(r) %>
<% end %>
</table>

<div class="padding">
  <% form_tag 'newinvitees' do %>
  <%= hidden_field_tag 'id', @event.id %>
  <%= text_area_tag 'list', nil, :size => "60x15" %>
  <br/>
  <%= submit_tag "Add Invitees" %>
  <% end %>
  

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>
</div>
