<h1><%=h @event.name %></h1>
<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Date:</b>
  <%=h @event.date %>
</p>

<p>
  <b>Start:</b>
  <%=h @event.start %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location_id %>
</p>

<h2>Current Invities</h2>
<h3>Will Attend - <%= yes_number %></h3>
<% yes_list do |r| %>
<%= format_invitee(r) %><br/>
<% end %>

<h3>May Attend - <%= maybe_number %></h3>
<% maybe_list do |r| %>
<%= format_invitee(r) %><br/>
<% end %>

<h3>Won't Attend - <%= no_number %></h3>
<% no_list do |r| %>
<%= format_invitee(r) %><br/>
<% end %>

<h3>Haven't Responded - <%= na_number %></h3>
<% na_list do |r| %>
<%= format_invitee(r) %><br/>
<% end %>


<p>
  <% form_tag 'newinvitees' do %>
  <%= hidden_field_tag 'id', @event.id %>
  <%= text_area_tag 'list', nil, :size => "60x15" %>
  <br/>
  <%= submit_tag "Add Invitees" %>
  <% end %>
  

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
