<h1><%=h @event.name %></h1>
<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Date:</b>
  <%=h @event.date %>
</p>

<p>
  <b>Start:</b>
  <%=h @event.start %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location_id %>
</p>

<p>
  <% form_for(@newinvitees) do |f| %>

  <% end %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
