<div id="top">
<h1><%=h @event.name %></h1>
<div class="padding">
<table><tr valign="top"><td>
<tr valign="top">
  <th>Description:</th>
  <td><%= @event.description.gsub(/(\r\n)+/, "<br/><br/>") %></td>
</tr>
<tr valign="top" >
  <th>Date:</th>
  <td><%=h @event.date %></td>
</tr>
<tr valign="top">
  <th>Start:</th>
  <td><%=h @event.start %></td>
</tr>
<tr valign="top">
  <th>Location:</th>
  <td><%= address(@event.location) %></td>
</tr>
</table>
</div>
</div>

<div id="status">

<h2>Current Invities</h2>

<table width="100%">
<tr><th width="200">Name</th><th width="200">Last Visited</th><th width="50">Number</th><th>Message</th></tr>
<tr><td class="attend_yes" colspan=5>Will Attend - <%= @event.yes_number %></th></tr>
<% @event.yes_list.each do |r| %>
<%= format_invitee_admin(r) %>
<% end %>

<tr><td class="attend_maybe" colspan=5>May Attend - <%= @event.maybe_number %></th></tr>

<% @event.maybe_list.each do |r| %>
<%= format_invitee_admin(r) %>
<% end %>

<tr><td class="attend_no" colspan=5>Won't Attend - <%= @event.no_number %></th></tr>
<% @event.no_list.each do |r| %>
<%= format_invitee_admin(r) %>
<% end %>

<tr><td class="attend_na" colspan=5>Haven't Responded - <%= @event.na_number %></th></tr>
<% @event.na_list.each do |r| %>
<%= format_invitee_admin(r) %>
<% end %>
</table>

<div class="padding">
  <% form_tag 'newinvitees' do %>
  <%= hidden_field_tag 'id', @event.id %>
  <%= text_area_tag 'list', nil, :size => "60x15" %>
  <br/>
  <%= submit_tag "Add Invitees" %>
  <% end %>
  
<%= link_to 'Send Nag', {:action => "nag", :id => @event}, :confirm =>
'Sending Nag Email.  Are you sure?' %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>
</div>
