<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>InviteR (beta)</title>  
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'inviter' %>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAGD6lcN8PyGdKtuuIr1yBGhSDk2RkKijL8JcsdqfwC_pup1h2ShRRSRsHrJwt_tBp8wCQENHCRG6wAg"
      type="text/javascript">
    </script>

    <script type="text/javascript">
      var map = null;
      var geocoder = null;
      function createMarker(point) {
          var marker = new GMarker(point)

          GEvent.addListener(marker, "click", function() {
            marker.openInfoWindowHtml("<b><%= @rsvp.event.location.name %></b>");
          });
          return marker;
        }

    

    function showAddress(address) {
      if (geocoder) {
        geocoder.getLatLng(
          address,
          function(point) {
            if (!point) {
              alert(address + " not found");
            } else {
              map.setCenter(point, 13);
              var marker = new GMarker(point);
              directions = "<br/><a target='_new' href='http://maps.google.com/maps?f=q&hl=en&geocode=&q=<%= @address.gsub(/ /,'+') %>'>Directions</a>"
              GEvent.addListener(marker, "click", function() {
                 marker.openInfoWindowHtml("<b><%= @rsvp.event.location.name %></b><br/>" + address + directions);
               });
              map.addOverlay(marker);
            }
          }
        );
      }
    }

    

    function load() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map"));
        map.addControl(new GSmallMapControl());

        map.setCenter(new GLatLng(37.4419, -122.1419), 13);
        geocoder = new GClientGeocoder();
//        GEvent.addListener(map, "click", function() {
//            window.open("http://maps.google.com/maps?f=q&hl=en&geocode=&q=<%= @address
//      %>", "_new");
//         });

        showAddress("<%= @address %>");
      }
    }

    </script>
  </head>
  <body onload="load()" >
    <div id="content">
    <p style="color: green"><%= flash[:notice] %></p>
    <%= yield %>
    </div>
  </body>
</html>
